.content {
  min-width: 320px;
  max-width: 1280px;
  padding: 0 16px;
  margin: 0 auto;
  box-sizing: border-box;
}

@media (min-width:576px) {
  .content {
    margin-bottom: 66px;
  }
}

@media (max-width:575px) {
  .content {
    margin-bottom: 48px;
  }
}