.footer {
  min-width: 320px;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 16px;
  box-sizing: border-box;
}

@media (min-width:576px) {
  .footer {
    padding-bottom: 60px;
  }
}

@media (max-width:575px) {
  .footer {
    padding-bottom: 36px;
  }
}